{% if user.is_authenticated  %}
   <table>
   <tr>
    <td> Вы зашли как {{ user.get_username }}</td>
    <td> <a href ="../logout">Выйти из аккаунта</a>
  </table>

{% endif %}

{% block title %}
{% endblock %}

<form method="POST">
    {% csrf_token %}
    {% for field in form %}
        <p>{{ field.label }}</p>
        <p>{{ field}} </p>
    {% endfor %}

    {% block all_other %}
    {% endblock %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</form>
